@{
    ViewData["Title"] = "Sobre nós";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="font-size:25px;font-family:didot">    
    <strong>
        <br>&nbsp;&nbsp;&nbsp;A empresa IA Tech surgiu através de um grupo de amigos da faculdade com a
        intenção de criar softwares de inteligência artificial sem a necessidade carregar pendrives
        ou algo do tipo para salvar seus arquivos.<br />
        <br>&nbsp;&nbsp;&nbsp; Usando tecnologia a seu favor a IA Tech faz com que seu sistema permita prever novas
        oportunidades de ter os seus dados mais seguros, combinando experiência de mercado e o
        poder de avaliar grandes volumes de dados com a Inteligência Artificial.<br />
        <br>&nbsp;&nbsp;&nbsp; Quando dados de sua base são analisados com aprendizagem de máquina, a inteligência
        artificial identifica padrões, prevê comportamentos e sugere as melhores decisões.
        Quando esses dados são cruzados com as mais de 15 mil variáveis da nossa data base,
        de fontes públicas e privadas, o potencial da análise se multiplica e traz novas
        informações relevantes para o seu negócio.<br />
        <br>&nbsp;&nbsp; &nbsp; São mais de 15 anos de experiência com mais de 500 soluções implantadas em documentos
        administrativos, seguros e mercado financeiro, além de outros setores, ajudando nossos
        clientes a ter mais eficiência nas decisões de negócios. Tudo isso em tempo real e em um ambiente 100% seguro...
    </strong>
</p>
