@model IATech.Models.UsuarioModel
@{
    ViewData["Title"] = "Nosso Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div style="font-family: didot;">
    <p style="font-size:20px;"><strong>Atendimento:</strong> <a href="mailto:Atendimento@example.com">atendimento@iatech.com <br /></a></p>
    <p style="font-size:20px;"><strong>Suporte:</strong> <a href="mailto:Support@example.com">suporte@iatech.com <br /></a></p>
    <p style="font-size:20px;"><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@iatech.com</a></p>
</div>

<br />
<br />
<br />

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.34013628928!2d-46.59265295126115!3d-23.52026574408698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5f335c98b3c5%3A0xbc317e2375502e81!2sUNINOVE%20-%20Campus%20Vila%20Maria!5e0!3m2!1spt-BR!2sbr!4v1590966865381!5m2!1spt-BR!2sbr" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<br />
<br />
<br />

<div style="font-family: didot;">
    <address>

        <p style="font-size:16px;">
            Rua Guaranésia, 425 - Vila Maria<br />
            São Paulo, SP<br />
            Cep: 02112-000<br />
            <abbr title="Telefone">Telefone:</abbr>
            (11)9999-9999
        </p>

    </address>
</div>