@{
    ViewData["Title"] = "Home Page";
}
    <div style="font-family:didot; style=font-size:20px; text-align:center;">
        <h1><strong><em>A solução de sua empresa está aqui!</em></strong></h1>
    </div>
<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <a class="btn btn-default" href="/Home/Contact">
                <img src="~/images/bannerIndex1.jpeg" width="1200" alt="banner1" class="img-responsive" />
            </a>

             <div class="carousel-caption" role="option">
             </div>
        </div>
        <div class="item">
            <a class="btn btn-default" href="/Home/Contact">

                <img src="~/images/bannerIndex2.jpeg" alt="Visual Studio" class="img-responsive" />
                </a>

                <div class="carousel-caption" role="option">            
                </div>
        </div>
        <div class="item">
            <a class="btn btn-default" href="/Home/Contact">

                <img src="~/images/bannerIndex3.jpeg" alt="Microsoft Azure" class="img-responsive" />
                </a>

                <div class="carousel-caption" role="option">          
                </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="font-family: didot;">
    <div class="col-md-6">
        <h2><em>5 empresas e suas inovações revolucionárias em IoT</em></h2>
        <img src="~/images/iot.jpg" alt="IoT" class="img-responsive" />
        <br />
        <p style="font-size:20px;">            
                Um dos temas mais falados na atualidade certamente é a Internet Industrial das Coisas (IoT) e
                como as empresas estão buscando ideias inovadoras para conectar todas as coisas e facilitar o dia-a-dia de todos.
                O mundo está passando por uma enorme transformação digital, e acompanhá-la de perto, investir e
                disponibilizar tecnologia pode significar a permanência de grandes marcas no mercado de trabalho.
                Empresas famosas, como Google, Microsoft e IBM, já estão colhendo os frutos de seu investimento em IoT.
                Suas ideias e produtos modernos são amplamente conhecidos e divulgados, mas de que forma outras
                empresas tão importantes quanto estão passando por toda essa transformação digital?
                Neste post analisaremos o potencial disruptivo das empresas Alibaba, DHL, Hitachi, Huawei e GE e
                como elas estão oferecendo ferramentas inovadoras que possibilitam a IoT...            
        </p>
        <a href="https://blog.cedrotech.com/5-empresas-e-suas-inovacoes-revolucionarias-em-iot/">Confira a lista completa!</a>        
    </div>

    <div class="col-md-6" style="font-family: didot;">
        <h2> <em>A história da inteligencia artificial</em></h2><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lhu8bdmkMCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="https://www.youtube.com/channel/UCdmGjywrxeOPfC7vDllmSgQ">Confira o canal deles no Youtube!</a>
    </div>
</div>